{% extends 'Main/base.html' %}

{% block title %}Publicaciones{% endblock title %}
{% block content_title %}
    Lista de Publicaciones
{% endblock content_title %}


{% block content %}
    <a href="{% url 'blog:post_create' %}" class="btn btn-primary mb-3">Crear publicación</a>

    <form action="{% url 'blog:post_list' %}" method="get">
        <input type="text" name="busqueda" placeholder="Buscar..." type="submit" class="form-control mb-3">
    </form>

    <ul class="list-group">
        {% for post in posts %}
            <a href="#" class="list-group-item list-group-item-">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.titulo }}</h5>
                    <small class="text-muted">Publicado el {{ post.fecha_publicacion }}</small>
                </div>
                <p class="mb-1">{{ post.contenido }}</p>
            </a>
        {% endfor %}
    </ul>
{% endblock content %}
